---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<a href="/seeds/seed1">seed 1</a>
		<a href="/seeds/seed2">seed 2</a>
		<a href="/seeds/seed3">seed 3</a>
	</body>
</html>